body {
    background-color: black;
  }
  #signupbtn{
  width: 1000px;
  height: 100px;
  color: white;
  background-color: grey;
  font-size: 50px;
  font-family: 'Courier New';
}

#signupbtn:hover {
    transition: 0.6s;
    background-color: black;
    cursor: pointer;
    border-width: 2px;
    border-color: cyan;
}
#loginbtn{
  width: 1000px;
  height: 100px;
  color: white;
  background-color: grey;
  font-size: 50px;
  font-family: 'Courier New';
}
#loginbtn:hover {
    transition: 0.6s;
    background-color: black;
    cursor: pointer;
    border-width: 2px;
    border-color: cyan;
}
#container{
  text-align: center;
}